html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #050521;
  background: radial-gradient(
    circle,
    rgba(5, 5, 33, 1) 0%,
    rgba(4, 58, 64, 1) 100%
  );
}

main {
  width: 90%;
  margin: 0 auto;
}

footer {
  border: 3px solid #00374f;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #00042d;
}
