.betterDev {
  width: 49%;
  background-color: #00374f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

footer h2 {
  color: orange;
  text-align: center;
}

.betterChoiseDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin: 0 auto;
}

.bestDev {
  width: 100%;
  background-color: #01a3014f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  gap: 5px;
}

.winner-A {
  font-weight: bold;
  color: #93b7fb;
}
.winner-B {
  font-weight: bold;
  color: #d25959;
  color: ye;
}



@media (max-width: 767px) {
  .betterDev {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .betterDev {
    display: inline;
  }
}
